/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
      box-sizing: border-box;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #background {
      width: 0;
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
      height: 100vh;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100vh;
    }

    .box {
      padding: 20px;
      background: white;
      border-radius: 5px;
      height: 300px;
      width: 300px;
      -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.3);
      text-align: center;
    }

    #plus,
    #minus {
      border: 1px solid black;
      border-radius: 5px;
      height: 40px;
      font-size: 2rem;
      display: inline-block;
      width: 50px;
      cursor: pointer;
    }



@media only screen and (max-width: 600px) {
    .box,
    h1 {
      font-size: 3.2rem;
      font-weight: 900;
    }
    .box {
      width: 700px;
      height: 700px;
      padding: 150px 50px;
    }

    #plus,
    #minus {
      height: 100px;
      width: 100px;
      padding-top: 35px;
      margin: 120px 10px;
    }

    #plus {
      color: rgb(0, 155, 23);
      font-weight: 900;
      font-size: 36px;
    }

    #minus {
      color: red;
      font-weight: 900;
      font-size: 36px;
    }
  }
